
@{
    ViewData["Title"] = "Fail";
}
<h2>❌ Payment Failed</h2>

<p>Your payment could not be completed. Please try again later.</p>
<a asp-action="Index" class="btn btn-dark btn-sm">Back to List</a>

